<footer id="footer">
  <ul class="footer-nav">
    <li><%= link_to "Home", "#" %></li>
    <li><%= link_to "About", "#" %></li>
    <li><%= link_to "Market", "#" %></li>
  </ul>
  <p class="footer-copyright">&copy; BeGraf 2017. All Rights Reserved</p>
</footer>
