  <section id="features">
    <div class="feature-list">
      <div class="feature">
      <div class="feature-icon">
        <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
      </div>
      <div class="feature-text">
        <h3>Simples</h3>
        <p>Escolha seus materiais, quantidade e tipos de acabamento.</p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-icon">
        <i class="fa fa-check-square-o" aria-hidden="true"></i>
      </div>
      <div class="feature-text">
        <h3>Fácil</h3>
        <p>Compare ratings, prazos de entrega e preços das gráficas locais, em apenas um click!</p>
      </div>
    </div>
    <div class="feature">
      <div class="feature-icon">
        <i class="fa fa-clock-o" aria-hidden="true"></i>
      </div>
      <div class="feature-text">
        <h3>Rápido</h3>
        <p>Pague no site, receba onde quiser.</p>
      </div>
    </div>
    </div>
  </section>
