  <section id="presentation">
    <div class="presentation-text">
        <h1>BeGraf</h1>
        <h2>Ajuda-te a economizar tempo e dinheiro com comparações de gráficas locais para seus materiais impressos</h2>
        <div class="presentation-cta">
          <%= link_to "Start Using Now!", product_categories_path, :class => "btn btn-primary" %>
        </div>
    </div>
    <div class="presentation-video">
      <div class="wistia_embed wistia_async_i5rq54jj3i" style="height:281px;width:500px">&nbsp;</div>
    </div>
  </section>
