 <section id="subscribe">
  <div class="form-wrapper">
    <h3 class="subscribe-heading">Inscreva-se Ahora!</h3>
    <p class="subscribe-text">Deixe-nos o seu email e receba promoções exclusivas!</p>
    <form class="form-inline" id="subscribe-form">
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="Insira seu e-mail">
      </div>
      <button type="submit" class="btn btn-primary">Quero receber</button>
    </form>
    <h3 class="subscribe-heading">Aproveite. É grátis!</h3>
  </div>
 </section>
