<div class="container">
  <%= render 'pages/presentation' %>
  <%= render 'pages/features' %>
  <%= render 'pages/subscribe' %>
</div>

<script src="https://fast.wistia.com/embed/medias/i5rq54jj3i.jsonp" async></script>
<script src="https://fast.wistia.com/assets/external/E-v1.js" async></script>
