<% if @order_products.size == 0 %>
  <p class="text-center">
    There are no items in your shopping cart.  Please <%= link_to "go back", root_path %> and add some items to your cart.
  </p>
<% else %>
  <% @order_products.each do |order_product| %>
    <%= render 'carts/cart_row', shop_product: order_product.shop_product %>
  <% end %>
<% end %>
