#presentation-section {
  // background-color: aliceblue;
  padding: 60px 0;
}

.presentation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation-text {
  padding: 0 40px;
  h1 {
    color: $darkblue;
    font-weight: bold;
    font-size: 50px;
  }
  h2 {
    color: $blue;
    font-weight: 300;
    margin-top: 0;
    line-height: 42px;
  }
  .presentation-cta {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}


/* Features */

#features-section {
  margin:0;
  padding: 40px 0;
  background-color: aliceblue;
}

.feature-list {
  display: flex;
  justify-content:space-around;
}

.feature {
  width: 300px;
  text-align: center;
  .feature-icon {
    font-size: 60px;
    color: $blue;
  }
  .feature-text {
    padding: 0 25px;
    h3 {
      margin-top: 10px;
      color: $darkblue
    }
    p {
      font-size: 20px;
    }
  }
}

/* Subscribe */

#subscribe-section {
  margin-top: 80px;
}
.subscribe-wrapper   {
  display: flex;
  justify-content: center;
  text-align: center;
}

#subscribe-form {
  margin-top: 30px;
}

.subscribe-text {
  font-size: 20px;
}
.subscribe-heading {
  color: $darkblue;
  text-transform: uppercase;
}
