#homepage {
  background: linear-gradient(white, #d8edff);
}



/* Features */

#features-section {
  margin:0;
  padding: 40px 0;
}

.feature-list {
  display: flex;
  justify-content:space-around;
}

.feature {
  width: 300px;
  text-align: center;
  .feature-icon {
    font-size: 60px;
    color: $blue;
  }
  .feature-text {
    padding: 0 25px;
    h3 {
      margin-top: 10px;
      color: $darkblue
    }
    p {
      font-size: 20px;
    }
  }
}

/* Subscribe */

#subscribe-section {
  margin-top: 80px;
}
.subscribe-wrapper   {
  display: flex;
  justify-content: center;
  text-align: center;
}

#subscribe-form {
  margin-top: 30px;
}

.subscribe-text {
  font-size: 20px;
}
.subscribe-heading {
  color: $darkblue;
  text-transform: uppercase;
}
