

#properties-form {
  margin: 60px auto;
  width: 70%;
}
#product-form {
  padding: 0 20px;
}



.property {

}


.property-value-image {
  max-width: 100%;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 3px;

}

.property-question {
  color: #003c72;
}
.property-values-text {
  padding-left: 10px;
}

.property-values-images {
  display: flex;
  justify-content: flex-start;
  .property-value {
    width: 150px;
    margin: 0 20px;
    &.selected {
      img {
        border: #003c72 solid 2px;
        border-radius: 0;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
      }
      p {
        background-color: #003c72;
        color: white;
            border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
      }
    }
    p {
      padding: 5px;
      text-align: center;
      input[type=radio] {
        display: none;
      }
    }

  }
}
