

#properties-form {
  margin: 60px auto;
  width: 70%;
}
#product-form {
  padding: 0 20px;
}


.property-question {
  color: #003c72;
}
.property-values-text {
  padding-left: 10px;
}

.property-values-images {
  display: flex;
  justify-content: flex-start;
  .property-value-image {
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    border-radius: 3px;
    padding: 5px;
    margin: 0 20px;
    &.selected {
      background-color: #003c72;
      .property-value-image-caption > p {
        color: white;
      }
    }
    .property-value-image-caption {
      padding: 5px;
      padding-top: 20px;
      width: 150px;
      text-align: center;
      input[type=radio] {
        display: none;
      }
    }

  }
}
