// Your footer style
#footer {
  background-color: #d8edff;
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-nav {
  li {
    list-style-type: none;
    float: left;
    margin-right: 10px;
  }
}

.footer-copyright {
  margin-left: 20px;
}
