<div class="property-values-images">
  <% property.property_values.each_with_index do |property_value, index| %>
    <div class="property-value">
      <%= image_tag(property_value.image_url, alt: property_value.value, class: "img-thumbnail") %>
      <p><input type="radio" name="product[<%= property.name %>]"
        value="<%= property_value.value %>" >
        <%= property_value.value.capitalize %>
      </p>
    </div>
  <% end %>
</div>
