<div class="container">

  <!-- Product categories -->
  <div class="product-categories">
    <% @product_categories.each do |product_category| %>
      <div class="product-category-card">
        <%= link_to image_tag(product_category.image_url, alt: product_category.name, height: 200),
          { controller: "product_categories", action: "show", id: product_category.id, remote: true } %>
      </div>
    <% end %>
  </div>

  <div id="properties-form"></div>
  <div id="product-offers"></div>

</div>
