<div class="container">

  <h3 class="section-heading">Qual material você deseja?</h3>

  <section id="product-categories">
    <% @product_categories.each do |product_category| %>
      <div class="product-category">
          <%= link_to product_category_path(product_category),
            id: "product-category-#{product_category.id}", remote: true do %>
            <%= cl_image_tag product_category.image_url, height: 150, width: 200, crop: :fill %>
            <div class="product-category-name">
              <%= product_category.name %>
            </div>
          <% end %>
        </div>
    <% end %>
  </section>

  <section id="properties-form"></section>
  <section id="product-offers"></section>
  <section id="image-upload-form"></section>

</div>
