p {
  color: #003c72;
  font-weight: 300;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

th, td {
    padding: 5px 15px;
}

.section-heading {
  text-align: center;
  color: #006ed2;
  padding: 10px 0;
  border-radius: 3px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 32px;
}

.next-section-button {
  display:flex;
  justify-content: center;
  margin: 40px 0;
}
