/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
.product-categories {
  display: flex;
  justify-content: flex-start;
}

.product-category-card {
  margin: 0 20px;
}


.property-values-images {
  display: flex;
  justify-content: flex-start;
  .property-value {
    width: 150px;
    margin: 0 20px;
  }
}


.offer-list{
  display: flex;
  justify-content: flex-start;
}

.offer {
  margin: 0 20px;
}
