/* -------------------------------------
 * CSS code specific to home page
 * (margin/padding adjustments)
 * ------------------------------------- */
p {
  color: gray;
  font-weight: 300;
}

h3 {
  font-weight: bold;
  font-size: 24px;
}

h4 {
  font-weight: bold;
  font-size: 20px;
}



.product-categories {
  display: flex;
  justify-content: flex-start;
  margin: 60px auto;
  width: 80%;
}

.product-category-card {
  margin: 0 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
}


#properties-form {
  margin: 60px auto;
  width: 70%;
}

#product-offers {
  margin: 60px auto;
  width: 60%;
}


.product-form-presentation {
  text-align: center;
  background-color: #003c72;
  color: white;
  padding: 10px 0;
  border-radius: 3px;
  margin-bottom: 40px;
}

#product-form {
  padding: 0 20px;
}
.product-form-find {
  display: flex;
  justify-content: center;
  margin: 40px 0;
}

.property-values-images {
  display: flex;
  justify-content: flex-start;
  .property-value {
    width: 150px;
    margin: 0 20px;
    &.selected {
      img {
        border: #003c72 solid 2px;
      }
      p {
        background-color: #003c72;
        color: white;
      }
    }
    p {
      padding: 5px;
      text-align: center;
      input[type=radio] {
        display: none;
      }
    }

  }
}

.offers-list-pres {
    text-align: center;
  background-color: #003c72;
  color: white;
  padding: 10px 0;
  border-radius: 3px;
  margin-bottom: 40px;
}

.offer-list{
  display: flex;
  justify-content: center;
}

.offer {
  margin: 0 20px;
  border: solid 1px gray;
  padding: 20px;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);
  border-radius: 3px;
  input {
    display: none;
  }
}

.offer-selected {
  background-color: #abe9e9;
}







.order-product {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 20px 0;
  .cart-product-property {
    text-align: center;
    margin: 0 20px;
  }
}
